<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <!-- Bootstrap -->
        <link href="{{ base_url }}static/dist/css/bootstrap.min.css" rel="stylesheet">


        <!-- Include Bootstrap Slider CSS -->
        <link rel="stylesheet" href="{{ base_url }}static/library/bootstrap-slider/slider.css">

        <!-- Include Bootstrap Switcher CSS -->
        <link rel="stylesheet" href="{{ base_url }}static/library/bootstrap-switcher/bootstrap-switch.min.css?v=1">

        <!-- Include Custom CSS rules -->
        <link rel="stylesheet" href="{{ base_url }}static/custom/css/style.css">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div id="page-home">
            <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation" style="padding:0 15px;">
                <div class="container-full">
                    <div class="row">


                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <a href="/" class="btn btn-danger btn-block navbar-btn action-checkout btn-lg">Back</a>
                        </div>


                    </div>
                </div>
            </div>

            <div class="container min-spacer container-full">
                <div class="row">
                    <div class="Flexible-container">
                        {#<iframe id="glympser" src="//glympse.com/ext/!divert" scrolling="no" marginheight="0px" marginwidth="0px" frameborder="0"></iframe>#}
                        <iframe id="glympser" src="//glympse.com/ext/!divert" scrolling="no" marginheight="0px" marginwidth="0px" frameborder="0" style="border: 0; position:fixed; top:0; left:0; right:0; bottom:0; width:100%; height:100%"></iframe>
                    </div>
                </div>
            </div>
        </div>



        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ base_url }}static/dist/js/bootstrap.min.js"></script>
        <!-- Include the Taphold JS -->
        <script src="{{ base_url }}static/library/taphold/taphold.js"></script>
        <!-- Include the TouchSwipe JS -->
        <script src="{{ base_url }}static/library/touchwipe/jquery.touchwipe.min.js"></script>
        <!-- Include the Mustache JS -->
        <script src="{{ base_url }}static/library/mustache/mustache.js"></script>
        <!-- Include the Modernizr JS -->
        <script src="{{ base_url }}static/library/modernizr/modernizr.custom.11858.js?v=1"></script>
        <!-- Include the Bootstrap Slider -->
        <script src="{{ base_url }}static/library/bootstrap-slider/bootstrap-slider.js"></script>

        <!-- Include the Bootstrap Switcher  -->
        <script src="{{ base_url }}static/library/bootstrap-switcher/bootstrap-switch.min.js?v=1"></script>
        <!-- Include Custom JS -->
        <script src="{{ base_url }}static/custom/js/security.js?v={{js_version_reload}}"></script>
        <script src="{{ base_url }}static/custom/js/md5.js"></script>
        <script src="{{ base_url }}static/custom/js/sync.js?v={{js_version_reload}}"></script>
    </body>
</html> 