<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PosApp Reports</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="{{ base_url }}static/admin/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{{ base_url }}static/admin/css/font-awesome.css" rel="stylesheet" />
    <!-- TimePicker STYLES-->
    <link href="{{ base_url }}static/admin/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
    <link href="{{ base_url }}static/admin/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="{{ base_url }}static/admin/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body class="only-login">
<div id="fullScreenLoader" class="hide"><p><img src="{{ base_url }}static/dist/img/big-preload.gif" alt="Loading..."/><span id="status_text">Fetching online data </span></p></div>
<div id="wrapper">
<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">POS Admin</a>
    </div>
</nav>
<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a class="active-menu admin-menu-item" href="#/dashboard" id="admin-menu-item-dashboard"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
            </li>
            <li>
                <a href="#/generate-report" id="admin-menu-item-reports" data-toggle="modal" data-target="#modal-sales-reports" class="admin-menu-item"><i class="fa fa-desktop fa-3x"></i> Sales Reports</a>
            </li>
            <li>
                <a  id="admin-tops-menu-item" class="admin-menu-item"><i class="fa fa-sitemap fa-3x"></i> Tops<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#/tops?type=staff" class="admin-menu-item" data-type="staff">Staff</a>
                    </li>
                    <li>
                        <a href="#/tops?type=client" class="admin-menu-item" data-type="client">Client</a>
                    </li>
                    <li>
                        <a href="#/tops?type=products" class="admin-menu-item" data-type="products">Products</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#/staff-reports" class="admin-menu-item" id="admin-menu-item-staff-reports"><i class="fa fa-bar-chart-o fa-3x"></i> Staff Report</a>
            </li>
            <li>
                <a href="#/balance-reports" class="admin-menu-item" id="admin-menu-item-balance-reports"><i class="fa fa-table fa-3x"></i> Balance</a>
            </li>
            <li>
                <a href="#/logout" class="admin-menu-item" id="admin-menu-item-balance-logout"><i class="fa fa-sign-out fa-3x"></i> Logout</a>
            </li>
        </ul>

    </div>

</nav>
<!-- /. NAV SIDE  -->
<div id="page-wrapper">
<div id="page-inner">
<div class="row" id="admin-content">
</div>
<!-- /. ROW  -->
</div>
<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->

{% include 'admin/adminLoginPage.html.twig' %}
{% include 'admin/adminDashboadPage.html.twig' %}
{% include 'admin/adminSalesReportsPage.html.twig' %}
{% include 'admin/adminTopsPage.html.twig' %}
{% include 'admin/adminStaffReportPage.html.twig' %}
{% include 'admin/adminBalanceReports.html.twig' %}

{% include 'admin/modal/modalSalesReports.html.twig' %}
{% include 'admin/modal/modalSalesReportsDeleteConfirm.html.twig' %}


<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->

<!-- JQUERY SCRIPTS -->
<script src="{{ base_url }}static/admin/js/jquery-1.10.2.js"></script>
<!-- Include the FastClick Plugin -->
<script src="{{ base_url }}static/library/fastclick/fastclick.js?v=1"></script>
<!-- Include the FingerPrint Plugin -->
<script src="{{ base_url }}static/library/fingerprint/fingerprint.min.js?v=1"></script>
<!-- Include the toastr plugin -->
<script src="{{ base_url }}static/library/toastr/toastr.min.js?v=1"></script>
<!-- Mustache -->
<script src="{{ base_url }}static/library/mustache/mustache.js?v=1"></script>
<!-- Sammy -->
<script src="{{ base_url }}static/admin/js/sammy-latest.min.js?v=1"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="{{ base_url }}static/admin/js/bootstrap.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="{{ base_url }}static/admin/js/jquery.metisMenu.js"></script>
<!-- MORRIS CHART SCRIPTS -->
<script src="{{ base_url }}static/admin/js/morris/raphael-2.1.0.min.js"></script>
<script src="{{ base_url }}static/admin/js/morris/morris.js"></script>
<!-- Include the bootstrap datepicker -->

<script src="{{ base_url }}static/admin/js/moment-with-locales.min.js?v=1"></script>
<script src="{{ base_url }}static/admin/js/bootstrap-datetimepicker.min.js?v=1"></script>
<!-- CUSTOM SCRIPTS -->

<script src="{{ base_url }}static/custom/js/security.js?v={{js_version_reload}}"></script>
<script src="{{ base_url }}static/custom/js/md5.js?v=1"></script>
<script src="{{ base_url }}static/custom/js/sync.js?v={{js_version_reload}}"></script>
<script src="{{ base_url }}static/admin/js/chart.min.js?v=1" type="text/javascript"></script>
<script src="{{ base_url }}static/custom/js/cart.js?v=1" type="text/javascript"></script>
<script src="{{ base_url }}static/admin/js/admin.js"></script>
<script src="{{ base_url }}static/admin/js/custom.js"></script>


</body>
</html>
